.title {
  font-size: 14px;
  margin-bottom: 5px;
}

.group {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.searchInput {
  font: inherit;
  border: 1px solid #252525;
  border-radius: 5px;
  margin-bottom: 10px;
}
